.characters-list {
    padding: 30px;
    background-color: #121212; /* Warna latar belakang yang lebih gelap */
    min-height: 100vh;
}

.characters-list h1 {
    font-size: 3rem; /* Ukuran font yang lebih besar */
    font-weight: bold;
    margin-bottom: 30px;
    color: #ff4757; /* Warna yang lebih cerah */
    text-align: center;
    text-transform: uppercase; /* Huruf kapital untuk kesan tegas */
    letter-spacing: 2px; /* Jarak antar huruf */
}

.loading-container, .error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.character-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
}

.character-link {
    width: 250px;
    text-decoration: none;
}

.character-card {
    background: #1f1f1f; /* Warna latar belakang card */
    border-radius: 20px; /* Sudut membulat lebih besar */
    padding: 20px;
    color: #fff;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4); /* Bayangan yang lebih lembut dan lebih besar */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    position: relative;
}

.character-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, #ff6b6b, #f7f7f7);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.character-card img {
    border-radius: 50%;
    margin-bottom: 15px;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 5px solid #ff4757; /* Border gambar yang kontras */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Bayangan pada gambar */
}

.character-card h6 {
    font-size: 1.4rem; 
    margin: 10px 0;
    font-weight: bold;
    color: #fff;
}

.character-card p {
    font-size: 1rem; 
    color: #dcdcdc; /* Warna teks lebih lembut */
    margin: 5px 0;
}

.character-link:hover .character-card {
    transform: scale(1.05);
    box-shadow: 0 8px 35px rgba(0, 0, 0, 0.6); /* Bayangan lebih besar saat hover */
}

@media (max-width: 768px) {
    .characters-list h1 {
        font-size: 2rem;
    }

    .character-carousel {
        justify-content: space-between;
    }

    .character-link {
        width: 100%;
    }
}
