.characters-list {
    padding: 20px;
    background-color: #04873A; 
    min-height: 100vh;
  }
  
  .characters-list h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #e50914; 
  }
  
  .loading-container, .error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .character-carousel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Membuat beberapa kolom */
    gap: 20px; /* Jarak antar item */
    padding-bottom: 20px;
    overflow-x: hidden; /* Hilangkan scroll horizontal */
  }
  
  .character-link {
    width: 100%; /* Ambil lebar penuh dari grid */
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .character-link:hover {
    transform: scale(1.05); /* Sedikit perbesar pada hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Tambahkan bayangan */
  }
  
  .character-card {
    background: linear-gradient(135deg, #ff7e5f, #feb47b); /* Gradien untuk latar belakang */
    border-radius: 10px; /* Sudut membulat */
    padding: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transisi lembut */
  }
  
  .character-card img {
    border-radius: 50%; /* Gambar menjadi lingkaran */
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Tambahkan bayangan pada gambar */
  }
  
  .character-card h2 {
    font-size: 1.2rem;
    margin: 10px 0;
    font-weight: bold;
    color: #fff;
  }
  
  .character-card p {
    font-size: 0.9rem;
    color: #f8f8f8;
  }
  
  @media (max-width: 768px) {
    .characters-list h1 {
      font-size: 2rem;
    }
  
    .character-link {
      width: 100%; /* Tetap lebar penuh pada perangkat mobile */
    }
  
    .character-card img {
      width: 60px;
      height: 60px;
    }
  }
  