.characters-list {
    padding: 20px;
    background-color: #1e1e1e; 
    min-height: 100vh;
}

.characters-list h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #e50914;
}


.loading-container, .error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.character-carousel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Memperbesar ukuran card */
    gap: 20px; /* Jarak antar item */
    padding-bottom: 20px;
    overflow-x: hidden;
}

.character-link {
    width: 100%; 
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.character-link:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.character-card {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    border-radius: 12px; /* Sudut membulat lebih besar */
    padding: 20px; /* Tambahkan padding */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 6px 20px rgba(9, 156, 38, 0.2); /* Bayangan yang lebih besar */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.character-card img {
    border-radius: 50%;
    margin-bottom: 15px; /* Jarak lebih besar */
    width: 100px; /* Ukuran gambar lebih besar */
    height: 100px;
    object-fit: cover;
    box-shadow: 0 6px 15px rgba(7, 159, 47, 0.3); /* Bayangan pada gambar */
}

.character-card h2 {
    font-size: 1.4rem; 
    margin: 10px 0;
    font-weight: bold;
    color: #fff;
}

.character-card p {
    font-size: 1rem; 
    color: #f8f8f8;
}

@media (max-width: 768px) {
    .characters-list h1 {
        font-size: 2rem;
    }

    .character-carousel {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Sesuaikan ukuran card untuk perangkat mobile */
    }

    .character-card img {
        width: 80px;
        height: 80px;
    }
}
